<!-- <style>
  span.font-Srisakdi {
    font-family: 'Srisakdi', cursive;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa
  }

  span.font-Opensans {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-shadow: 4px 4px 4px rgb(35, 157, 238)
  }

  span.font-Anton {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    text-shadow: 4px 4px 4px rgb(35, 157, 238);
  }

  .imgbnk48 {
    background-image: url('assets/img/b55eb735-60ce-4fef-9c4a-5dbd3bb98e1b.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-text-fill-color: transparent;
  }

</style> -->

<!-- <div class="container">
  <div class="columns">
    <div class="column"
         style="background-color: red;color: snow">
      First column
      <span class="font-Srisakdi">
        <h1>Frontend Devaloper เราทำเว็ป</h1>
      </span>
      <span class="font-Opensans">
        <h1>สวัสดี Hello</h1>
      </span>
      <span class="font-Anton">
        <h1 style="color: black;">JOHN WICK</h1>
      </span>
    </div>
    <div class="column">

      <div class="imgbnk48">
        <span class=""
              style="-webkit-background-clip: text;">
          <h1>JOHN WICK</h1>
        </span>
      </div>

    </div>
    <div class="column"
         style="background-color: rgb(50, 126, 214)">
      Second column
    </div>
    <div class="column"
         style="background-color: yellowgreen">
      Third column
    </div>

    <div class="column"
         style="background-color: thistle">
      Fourth column
      <a class="button is-primary">Primary</a>
      <a class="button is-link">Link</a>
      <a class="button is-info">Info</a>
      <a class="button is-success">Success</a>
      <a class="button is-warning">Warning</a>
      <a class="button is-danger">Danger</a>
    </div>
  </div>
  <hr>
</div> -->

<div class="container">
  <button (click)="showMenu='bnk'">Showsomthing</button>
  <div *ngIf="showMenu==='bnk'"
       class="container is-fluid"
       style="background-color: rgba(255, 225, 235, 0.966)">

    <section class="hero is-light is-bold">
      <div class="hero-header">
        <div class="container">
          <h2>credit : https://www.bnk48.com/</h2>
        </div>
      </div>
    </section>

    <a class="button is-hovered"
       (click)="onBorder = !onBorder"
       [ngClass]="{'is-danger': onBorder,'is-light': !onBorder}">
      Border
    </a>


    <!-- <app-mhw></app-mhw> -->
    <!-- <app-films></app-films> -->
    <div class="case-container"
         [ngStyle]="{'border': onBorder?'solid black':''}">

      <div class="case-item"
           [ngStyle]="{'border': onBorder?'solid red':''}"
           *ngFor="let item of members;let i = index">

        <div class="img-container"
             [ngStyle]="{'border': onBorder?'solid black':''}">
          <div class="img-item"
               [ngStyle]="{'border': onBorder?'solid rgb(251, 255, 0)':''}">
            <img [src]="item.avatar_image"
                 [alt]="item.slug">
          </div>
          <label class="img-item-label"
                 [ngStyle]="{'border': onBorder?'solid rgb(35, 255, 0)':''}">
            <p class="item-name">{{item.nickname.en}}</p>
            <p class="item-date">{{item.birth_date | date:'d MMM yyyy'}}</p>
          </label>
        </div>

      </div>

    </div>
  </div>
</div>
