<div>
  <nav class="breadcrumb"
       aria-label="breadcrumbs">
    <ul>
      <li><a routerLink="/showcase">
          <span class="icon is-small">
            <i class="fas fa-home"
               aria-hidden="true"></i>
          </span>showCase
        </a></li>
      <li><a routerLink="/resume">
          <span class="icon is-small">
            <i class="fas fa-book"
               aria-hidden="true"></i>
          </span>resume
        </a></li>
      <li><a routerLink="/home">
          <i class="fas fa-brain"></i>
          Home
        </a></li>
    </ul>
  </nav>
</div>
