<div>
  <nav class="breadcrumb"
       aria-label="breadcrumbs">
    <ul>
      <li><a routerLink="/showcase">
          <span class="icon is-small">
            <fa-icon [icon]="['fas', 'folder']"
                     size="xs"></fa-icon>
          </span> showCase
        </a></li>
      <li><a routerLink="/resume">
          <span class="icon is-small">
            <fa-icon [icon]="['fas', 'file']"
                     size="xs"></fa-icon>
          </span> resume
        </a></li>

      <li><a routerLink="/home">
          <span class="icon is-small">
            <fa-icon [icon]="['fas', 'home']"
                     size="xs"></fa-icon>
          </span> Home
        </a></li>

    </ul>
  </nav>
</div>
