<!-- <iframe style="width: 100%;height: 500px;"
        src="https://docs.google.com/document/d/e/2PACX-1vTrGB6KrXPyhIlWDXzYgtJ-5lHLMFhIos7swxZiccXMb7odDzFjTm0D5PrFn8wg9YoKbCem49bPzyTE/pub?embedded=true"></iframe> -->
<style type="text/css">
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  #content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
  }

</style>
<div class="container"
     style="padding: 10px;width: 100%;height:100%;">
  <div class="columns"
       style="padding: 10px;width: 100%;height:100%;">
    <div class="column is-one-fifths"></div>
    <div class="column is-three-fifths"
         style="border: dotted 1px rgb(185, 185, 185)">
      <iframe frameborder="0"
              width="100%"
              height="100%"
              scrolling="yes"
              src="https://docs.google.com/document/d/e/2PACX-1vQ02FDigFwemf7j0Ku4NuGj1aRn-48xGKgnHCW0fHC1vIDMQyw9q_2v9rysOsm-hMZUTIZcU6zfuSaT/pub?embedded=true"></iframe>
      <!-- <iframe frameborder="0"
        src="https://docs.google.com/document/d/e/2PACX-1vQ02FDigFwemf7j0Ku4NuGj1aRn-48xGKgnHCW0fHC1vIDMQyw9q_2v9rysOsm-hMZUTIZcU6zfuSaT/pub?embedded=true"
              width="100%"
              height="100%"
              scrolling="yes"
              src="https://docs.google.com/document/d/e/2PACX-1vTrGB6KrXPyhIlWDXzYgtJ-5lHLMFhIos7swxZiccXMb7odDzFjTm0D5PrFn8wg9YoKbCem49bPzyTE/pub?embedded=true&widget=true&amp"></iframe> -->
    </div>
    <div class="column is-one-fifths">
      <a class="button is-warning is-medium"
         href="https://docs.google.com/document/d/1tHU69Bx2B4Xd4ScVbN1gw3W6_LIXepb9acqY64bxuos/export?format=pdf">

        <!-- // create link donwload https://docs.google.com/document/d/FILE_ID/export?format=pdf -->
        <!-- Credit https://www.labnol.org/internet/direct-links-for-google-drive/28356/ -->
        <fa-icon class=""
                 [icon]="['fas', 'file-pdf']"
                 size="1x">
        </fa-icon>
        GetPDF
      </a>
    </div>
  </div>

</div>
