<div class="_fontJamjuree container">

  <div class="timeline-title "
       data-text="experience">
    <!-- お前はもう死んでいる  -->
    <!-- Omae Wa Mou ShindeiruO -->
    Experience
  </div>

  <section class="timeline">
    <ul class="timeline-menu">
      <li class="timeline-list"
          *ngFor="let item of experience">
        <div class="timelines-box-title">
          <time>{{item.year}} - {{item.until}}</time>
        </div>
        <div class="timelines-box-body">
          <p class="title is-4">{{item.company}}</p>
          <p class="subtitle is-6">{{item.describe}}</p>
          <!-- <aside *ngFor="let proj of item.projects"
                 class="menu">
            <p class="menu-label">
              {{proj.projName}}
            </p>
            <p class="">
              {{proj.projDescribe}}
            </p>
            <ul class="menu-list">
              <li *ngFor="let tech of proj.projTech">
                <a>{{tech}}</a>
              </li>
            </ul>
          </aside> -->
        </div>
      </li>
      <!-- <li>
        <div class="timelines-box-title">
          <time>2017 - NOW</time>
        </div>
        <div class="timelines-box-body ">
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
          Some content here
        </div>
      </li>
      <li>
        <div class="timelines-box-title">
          1998 <time>1995</time>
        </div>
        <div class="timelines-box-body">
          <p>
            I was born I was born I was born
            I was born I was born I was born
            I was born I was born I was born
            I was born I was born I was born
          </p>
        </div>
      </li>
      <li>
        <div class="timelines-box-title">
          1997 <time>2018</time>
        </div>
        <div class="timelines-box-body">
          Vertice Hires me
        </div>
      </li> -->
    </ul>
  </section>
</div>
