<div class="container">
  <!-- <div class="has-text-centered space">
    <a class="icon is-large"
       href="https://github.com/moosubb4/">
      <fa-icon [icon]="['fab', 'github']"
               size="3x">
      </fa-icon>
    </a>

    <a class="icon is-large"
       href="https://www.facebook.com/mookaki">
      <fa-icon [icon]="['fab', 'facebook']"
               size="3x">
      </fa-icon>
    </a>
  </div> -->
  <footer class="footer">
    <div class="content has-text-centered">

      <a class="icon is-large"
         href="https://github.com/moosubb4/">
        <fa-icon [icon]="['fab', 'github']"
                 size="3x">
        </fa-icon>
      </a>

      <a class="icon is-large"
         href="https://www.facebook.com/mookaki">
        <fa-icon [icon]="['fab', 'facebook']"
                 size="3x">
        </fa-icon>
      </a>

      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

</div>
