<!-- <div class="image" [ngStyle]="{'background-image':'url(' + '/assets/img/field.gif' + ')'}"> -->
<div>

  <!-- <div class="is-12">
    <h2>About me</h2>
  </div>

  <section class="hero is-link is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Fullheight hero with navbar
        </h1>
      </div>
    </div>
  </section> -->

  <div class="section main">
    <div class="container">
      <div class="columns has-text-left">
        <div class="column is-half is-offset-one-quarter">
          <!-- <figure class="image is-128x128"
                  style="justify-content: center;">
            <img class="is-rounded"
                 src="./assets/img/mecongrat.jpg"
                 alt="Me">
          </figure> -->

          <!-- <img class="pic-me"
               src="./assets/img/Cubot.JPG"
               alt="Me">
          <br>

          <p style="margin-top:20px; font-size:1.5rem;">Thanathorn Kelatimongkolkul</p>
          <hr>
          <p><b>Date of birth</b> : 4 April 1995 </p>
          <p><b>Age</b> : 23 years old</p>
          <p><b>Personality</b> : Friendly</p>
          <p><b>Religion</b> : Buddhist</p>
          <p><b>Nationality</b> : Thai</p>
          <p><b>Height / weight</b> : 168cm / 100kgs.<small> (fat guy)</small></p>
          <p><b>Language</b> : Thai ( Native ) , English ( Intermediate )</p>
          <p><b>Contact</b> : Tel (+66)875571721</p>
          <p><b>Email</b> : rollingpork@gmail.com</p> -->

          <!-- <img class=""
               src="{{personalData.pic.path}}"
               alt="Me"> -->

          <figure class="image">
            <img class="round"
                 src="{{personalData.pic.path}}"
                 alt="MyPic">
          </figure>

          <!--[ngStyle]="{'margin': '-10% 0% 0% 14%'}" [ngStyle]="{'width': '300px'}"F-->

          <p class="_fontAnton is-size-1 has-text-success has-text-weight-semibold">
            <!--_fontSrisakdi-->
            {{personalData.name}} {{personalData.surname}}
          </p>
          <p><b>Date of birth</b> : {{personalData.birthDate | date:'d MMMM y'}}</p>
          <p><b>Age</b> : {{personalData.birthDate | age}}</p>
          <p><b>Personality</b> : {{personalData.Personality}}</p>
          <p><b>Nationality</b> : {{personalData.Nationality}}</p>
          <p><b>Religion</b> : {{personalData.Religion}}</p>
          <p><b>Language</b> :
            {{personalData.Language[0].Language}} ({{personalData.Language[0].level}}),
            {{personalData.Language[1].Language}} ({{personalData.Language[1].level}})
          </p>
          <p><b>Contact</b> : {{personalData.contact.tel}}</p>
          <p><b>Email</b> : {{personalData.contact.email}}</p>
          <hr>

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="is-pulled-left ">
        <p>test1</p>
      </div>
      <div class="is-pulled-right">
        <p>test2</p>
      </div> -->
  <!-- 
  <fa-icon [icon]="['fas', 'cloud']"
           size="xs"></fa-icon>
  <fa-icon [icon]="['fab', 'github']"
           [spin]="true"
           size="4x"></fa-icon>
  <fa-icon [icon]="['fas', 'coffee']"
           size="6x"></fa-icon> -->

  <!-- <div style="text-align:center">
    <fa-icon [icon]="faCoffee"></fa-icon>
  </div> -->

  <div class="has-text-centered space">
    <a class="icon is-large"
       href="https://github.com/moosubb4/">
      <fa-icon [icon]="['fab', 'github']"
               size="3x">
      </fa-icon>
    </a>

    <a class="icon is-large"
       href="https://www.facebook.com/mookaki">
      <fa-icon [icon]="['fab', 'facebook']"
               size="3x">
      </fa-icon>
    </a>
  </div>

  <!-- <div class="has-text-centered space">
    <a href="https://github.com/moosubb4/">
      <span class="icon is-medium">
        <fa-icon [icon]="['fab', 'github']"
                 size="3x">
        </fa-icon>
        github.com/moosubb4
      </span>
    </a>

    <a href="https://www.facebook.com/mookaki">
      <span class="icon is-medium">
        <fa-icon [icon]="['fab', 'facebook']"
                 size="3x">
        </fa-icon>
        facebook.com/mookaki
      </span>
    </a>
  </div> -->

</div>
<!-- <div class="image"></div> -->
