<p>Home</p>

<!-- <div class="image" [ngStyle]="{'background-image':'url(' + '/assets/img/field.gif' + ')'}"> -->
<div class="image-bg">
  <div class="is-12 example-title">
    <h2 class="hvr-grow">About me</h2>
  </div>


  <div class="section main">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column is-half is-offset-one-quarter">

          <img src="/assets/img/job.JPG"
               class="arm-pic"
               alt="">

          <p style="margin-top:20px; font-size:1.5rem;">Thanathorn Kelatimongkolkul</p>
          <hr>
          <p><b>Date of birth</b> : 4 April 1995</p>
          <p><b>Age</b> : 23 years old</p>
          <p><b>Personality</b> : Friendly</p>
          <!--Fast learner, Responsible, -->
          <p><b>Religion</b> : Buddhist</p>
          <p><b>Nationality</b> : Thai</p>
          <p><b>Height / weight</b> : 168cm / 100kgs.</p>          
          <p><b>Language</b> : Thai ( Native ) , English ( Intermediate )</p>
          <p><b>Contact</b> : Tel (+66)875571721</p>
          <p><b>Email</b> : rollingpork@gmail.com</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="is-pulled-left ">
        <p>test1</p>
      </div>
      <div class="is-pulled-right">
        <p>test2</p>
      </div> -->


  <div class="has-text-centered space">
    <a class="icon is-large"
       href="https://github.com/rainstormza">
      <i class="fa fa-github"></i>
    </a>
    <a class="icon is-large"
       href="https://facebook.com/rainstormza">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a class="icon is-large"
       href="https://instagram.com/rainstormza">
      <i class="fa fa-instagram"></i>
    </a>
    <a class="icon is-large"
       href="https://youtube.com/rainstormza">
      <i class="fa fa-youtube-square"></i>
    </a>
  </div>

</div>
<!-- <div class="image"></div> -->
